*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container{
	width: 1140px;
	background: rgba(46, 204, 113,0.3);
	margin: 5px auto;
	text-align: center;
}
ul{
	list-style: none;
	margin: 10px auto;
	display: block;
	width: 100%;
}
ul li{
	display: inline-block;
	padding: 10px 5px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
#filter a.active {background: yellow;}

#grid {clear: both; position: relative}

.item{
	width: 20%;
	background: rgba(230, 126, 34,0.30);
	height: 100px;
	margin: 10px;
	display: inline-block;
	overflow: hidden;
}
.red {background: red;}
		.green {background: green;}
		.blue {background: blue;}
		.circle {border-radius: 230px;}